<% include ../partials/header %>

<div class="container d-flex my-5">
  <div class="row">
    <% heroes.forEach((hero) => { %>
      <div class="col-lg-4">
        <div class="card my-4">
          <img src="<%= hero.image.url %>" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title"><%= hero.name %></h5>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Full Name: <%= hero.biography['full-name'] %></li>
            <li class="list-group-item">Height: <%= hero.appearance.height %></li>
            <li class="list-group-item">Weight: <%= hero.appearance.weight %></li>
            <li class="list-group-item">Alignment: <%= hero.biography.alignment %></li>
          </ul>
        </div>
      </div>
    <% }) %>
  </div>
</div>

<% include ../partials/footer %>
